html{
    font-size: 62,5%;
}


.logotipo{
    height: 110px;
    width: 165px;
}


body{
    background-color: rgb(117, 115, 112);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Lato', sans-serif;}


.titulos{
    text-align: center;
    padding: 10px 0px;
    font-size: 50px;
    font-weight: bolder;
    text-decoration: underline;
}

.subtituloIndex{
    text-align: center;
    padding: 15px 0px;
    font-size: 30px;
    font-weight: bold;    
}

.tituloIndex1{
    text-align: center;
    font-size: 23px;
    font-weight: bolder;
    font-style: oblique;
}


.imagenesIndex{
    width: 350px;
    height: 250px;
    margin: 5px;
    
}



.imagenesArquitectura{
    width: 750px;
    height: 400px;
    margin: 5px;
}

.subtitulosArquitectura{
    font-weight: bolder;
    font-style: italic;
    font-size: 30px;
    text-align: center;
    text-justify: center;
    text-decoration: underline;
}

.subsubtitulosArquitectura{
    font-size: 20px;
    font-weight: bolder;
    font-style: oblique;
}

.footer{
    background-color:rgba(75, 74, 74, 0.733);
    font-weight: bolder;
    font-style: italic;
    grid-area: footer;
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    flex-wrap: wrap;
    justify-items: flex-start;

    
}

.redesFlotantes img{
    width: 30px;
    height: 30px;
    padding-left: 5px;
    display: inline-block;
    
    
}

.whatsapp img{
    width: 40px;
    height: 40px;
    display: inline-block;
    position: fixed;
    right: 20px;
    bottom: 40px;
}

.imagenesArquitectura1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-content: flex-end;
    

}
.imagenesIndex1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    grid-area: section;
     

}


.bg-nav{
    background-color: rgba(75, 74, 74, 0.733);
    position: sticky;
    top: 0px;
    
}

.footer1{
    background-color:rgba(75, 74, 74, 0.733);
    font-weight: bolder;
    font-style: italic;
}

.imagenesNosotros{
    transition: all 2s;
    width: 500px;
    height: 350px;
}

.imagenesNosotros1  img:hover{
    width: 750px;
    height: 500px;
}

.imagenesNosotros1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;

}